body {
  font-family: sans-serif;
  background-color: #ffffff;
}

#app {
  width: 500px;
  margin: 0 auto;
}

.vid-container {
  width: 100%;
  height: 100%;
}

.player-container {
  width: 50%;
  margin: 0 auto;
}

.sound-picker {
  display: flex;
  justify-content: space-around;
}

.time-display {
  font-size: 18px;
  margin-top: 10px;
}

.play {
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
}

.play:hover {
  background-color: #444;
}

